body {
  margin: 0;
}

indoorviewer {
  height: 100vh;
}

/*---- POI-LIST ----*/

.poi-list {
  padding: 14px;
}

li {
  font-family: Myriad;
  padding-bottom: 5px;
  font-size: 18px;
  color: black;

  a {
    color: black;
    // rgb(0, 94, 87);
  }

  a:hover {
    color: rgb(252, 144, 0);
    cursor: pointer;
  }

  .material-icons.green {
    float: right;
    color: rgb(0, 168, 119);
  }

  .material-icons.green:hover {
    color: rgb(252, 144, 0);
    cursor: pointer;
  }
}

.listStart {
  padding-left: 20px;
}

/* ----------------- */
