body {
  margin: 0;

  sidebar-preview-menu
    > .vertical-menu
    sidebar-menu-items-collection
    sidebar-menu-item
    > li
    icon
    > i.material-icons {
    font-size: 25px;
  }

  sidebar-preview-menu
    > .vertical-menu
    sidebar-menu-items-collection
    sidebar-menu-item
    > li
    icon
    > i.material-icons:hover {
    color: rgb(252, 144, 0);
  }

  .menu-close-button {
    width: 50px;
    height: 50px;
  }

  .vertical-menu .vertical-menu-heading > h3 {
    font-size: 25px;
    font-family: Myriad;
  }
}

indoorviewer {
  height: 100vh;
  font-family: Myriad;
}

navbar-menu .navbar-default .navbar-custom > li.navbar-menu-item-sidebar {
  visibility: hidden;
}

/*---- POI-VIEW ----  */

site-data > div {
  visibility: hidden;
  height: 0;
}

.panel .menu-close-button {
  position: initial;
  width: 50px;
  height: 50px;
  // width: 55px;
  // height: 55px;
}

.poi-btn-toolbar {
  height: 0;
  visibility: hidden;
}

/* ----------------- */

/*---- POI-LIST ----*/

.poi-list {
  padding: 14px;
}

li {
  font-family: Myriad;
  padding-bottom: 5px;
  font-size: 18px;
  color: black;

  a {
    color: black;
    // rgb(0, 94, 87);
  }

  a:hover {
    color: rgb(252, 144, 0);
    cursor: pointer;
  }

  .material-icons.green {
    float: right;
    color: rgb(0, 168, 119);
  }

  .material-icons.green:hover {
    color: rgb(252, 144, 0);
    cursor: pointer;
  }
}

.listStart {
  padding-left: 20px;
}

sidebar-menu > .vertical-menu > .vertical-menu-heading .back-button {
  visibility: hidden;
}

/* ----------------- */
