body {
	margin: 0;
}

indoorviewer {
	height: 100vh;
}

.poi-list {
	padding: 14px;
}

li {
	font-family: Myriad;
	padding-bottom: 5px;
	font-size: 18px;
}

.material-icons.green{
	float: right;
	color: #00a877;
}

.listStart {
	padding-left: 20px;
}

